body{
    text-align: center;
    font-family: arial;
}
h1{
    font-weight: normal;
    font-size: 25px;
}
h4{
    font-weight: normal;
}
p{
     font-size: 12px;
}
label{
    font-size: 13px;
    font-weight: bold;
}
input{
    width: 450px;
    height: 20px;
    margin-top: 5px;
    font-size: 13px;
}
#submit{
    background: #1973A8;
    color: white;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#visit{
    background: #F6EAEA;
    font-size: 15px;
    color: black;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
}
#remove{
    background: #B52626;
    font-size: 15px;
    color: white;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
}
.header{
    text-align: left;
    width: 550px;
    border-bottom: #ccc 3px solid;
    margin: 30px auto;
}
.footer{
    text-align: left;
    width: 550px;
    border-top: #ccc 3px solid;
    margin: 30px auto;
}
.container{
    background: #f4f4f4;
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
}

.well{
    text-align: left;
    background: #f4f4f4;
    width: 450px;
    margin: 20px auto;
    padding: 1px 20px;
    border-radius: 5px;

}

