.myWrapper {
    border-style: solid;
    border-width: 2px;
    height: auto;
    width: 350px;
    background-color: powderblue;
    padding: 15px;
    text-align: center;
    font-size: 110%;
    border-radius: 25px;
}
