body, h1,h5,li,ul,label{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background-color: whitesmoke;
    align-content: center;
    text-align: center;
    font: 14px   fantasy;
    color: #ccc;
}

footer h5 {
    font-weight: normal;
    font-size: 10px;
    margin: 5px;
}

label {
    font-size: 15px
}

li {
    list-style: none;
}

.header h1 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
}

.container {
    width: 550px;
    align-content: center;
    flex-direction: column;
    border: 5px;
    margin: auto;
    margin-top: 30px;
}

.whole-list {
    width: 500px;
    height: auto;
    text-align: left;
    border: 5px gray;
    margin: auto;
    background-color: white;
}

.input-bar, .single-element {
    width: 490px;
    height: 48px;
    padding: 4px;
    border: 1px solid #ededed;
}

.input-bar {
    position: relative;
}

#mark-all {
    width: 30px;
    height: 20px;
}



#mark-all[flag="false"] {
    border: 4px solid #ccc;
    width: 7px;
    height: 7px;
    border-top: none;
    border-right: none;
    content: "";
    transform: rotate(-45deg);
    position: absolute;
    top: 22px;
    left: 19px;
}

#mark-all[flag="true"] {
    border: 4px solid rgb(99, 97, 97);
    width: 7px;
    height: 7px;
    border-top: none;
    border-right: none;
    content: "";
    transform: rotate(-45deg);
    position: absolute;
    top: 22px;
    left: 19px;
}

#button-enter {
    width: 45px;
    height: 40px;
    border: 0px;
    font-size: 15px;
}

#todo-input {
    width: 390px;
    height: 48px;
    font: 24px fantasy;
    border: 0px;
    margin-left: 45px;
}



.single-element label {
    margin-left: 5px;
    position: relative;
}

.single-element span {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.single-element span::after {
    border: 2px solid #66bb6a;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.single-element input[type="checkbox"] {
    visibility: hidden;
}

.single-element input[type="checkbox"]:checked ~ #task-name {
    text-decoration: line-through;
}

.single-element input[type="checkbox"]:checked + span::after {
    opacity: 1;
}

#task-name {
    font-size: 24px;
    margin-left: 20px;
    top: 11px;
    width: 200px;
}

#destroy-task {
    float: right;
    width: 28px;
    height: 28px;
    font: 30px fantasy;
    color: rgba(175, 47, 47, 0.15);
    border: 0px;
    margin-right: 10px;
    visibility: hidden;
}

li :hover > #destroy-task {
    visibility: visible;
}

.list-footer {
    font-size: 20px;
    padding: 5px;
    border: 1px solid #ededed;
}

#items-num {
    float:left;
}

.list-footer button {
    border: hidden;
    border-radius: 7px;
    font-family: fantasy;
    color: #ccc;
    /*outline: 1px solid  rgba(190, 52, 52, 0.15);*/
    /*outline: none;*/
}

.list-footer button:hover {
    border: 1px solid;
    border-color: rgba(175, 47, 47, 0.15);
}
/*
.list-footer button:checked {
    outline: 1px solid  rgba(190, 52, 52, 0.15);
    border-radius: 15px;
}
*/
#all-button {
    margin-left: 90px;
}
#clear-completed {
    float: right;
}

#clear-completed:hover {
    text-decoration: underline;
}
