
body {
    background-color: white;

}
.wholeCalc {
    border-style: solid;
    border-width: 2px;
    height: 330px;
    width: 240px;
    background-color: powderblue;
    padding: 15px;
    text-align: center;
    font-size: 80%;
    border-radius: 25px;

}
table {
    padding: 5px;
    margin: 5px 5px 0px 5px;}
input, button {
    border-radius: 10px;
    font-size: 25px;

}
input {
    margin: 5px 5px 0px 5px;
    padding: 10px;
    height: 35px;
    width: 210px;
}
button {
    height: 50px;
    width: 50px;
}
.opEqual {
    height: 50px;
    width: 210px;

}


